* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

button {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    transition: background-color 0.3s ease;
}
